body{
  background-color:rgb(24, 24, 24) !important;
}
.ui.segment {
  background-color: rgb(61, 61, 61);
}


.data {
  color: white !important;
}

.data label{
  color: gray;
}

.detailsbtn{
  width: 32.5%;
}
img {
  border-style: none;
  border-radius: 50%;
  margin: 5%;
  max-width: 50% !important;
}
.details{
  display: flex;
  flex-direction: row;
}
.teDhena{
  margin-top: 35% !important;
}

.Emri{
  font-size: 40px;
  padding-bottom: 20px;
  color:white;
}
.ui.fluid.selection.dropdown {
  margin-bottom: 15px !important;
}

i.address.card.large.icon.middle.aligned{
  color: white;
}